<!DOCTYPE html>
<html>
    <head>
        <title>Machine Learning Application</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Mass: <input type="number" step="0.1" min="0" name="mass", placeholder="Enter the mass of the fruit." required/>
            <br><br>
            Width: <input type="number" step="0.1" min="0" name="width", placeholder="Enter the width of the fruit." required/>
            <br><br>
            Height: <input type="number" step="0.1" min="0" name="height", placeholder="Enter the height of the fruit." required/>
            <br><br>
            <button>Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>

